.card{
    overflow: hidden;
    width: 200px;
    height: 160px;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
    padding: 19px 23px 31px 23px;
    margin: 12px 5px 10px 1px;
    background-color:rgba(17, 4, 60, 0.7);
    box-shadow: 6px 5px 24px #c5c5e1;
    border-radius: 6px;
    cursor: grab;
    text-decoration: none
}
.card:hover{
    color:#ffffff;
    border-color:#5d5b5b;
    box-shadow:inset 0px 1px 0px 0px #474646;
    text-shadow:inset 0px 1px 0px #292929;
    background:linear-gradient(#02031a, #10246a);
    transform: scale(1.1);
}

.img{
    border-radius: 10px;
    height: 79px;
    width: 120px;
    text-decoration: none
}

.h1{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: initial;
    font-family: cursive;
    font-size:large;
    display: inline;
    -webkit-text-stroke: 1px rgb(12, 21, 152);
}

.h3{
    color: rgb(254, 245, 6);
    text-decoration: none;
    font-family: cursive; 
    margin-top: 1px;
}

.h4{
    color: rgb(254, 245, 6);
    text-decoration: none;
    font-family: cursive; 
    margin-top: 1px;
}

.sinSubrayado{
    text-decoration: none;
    position:relative;
    font-family: 'Merienda One', cursive;
}